$colorBackground: #fafafa;
$colorSaturated: #1c4a41;
$colorSemiLight: #0001;
$colorSemiDark: #000a;
$color256: #256256;

//sizes sides
$containerMaxWidth: 800px;
$headerMenuTogglerSide: 20px;
$footerContactSide: 40px;

//margins paddings
$mainVerticalMargin: 50px;
$mainDesktopHorizontalPadding: 30px;
$mainMobileHorizontalPadding: 15px;

//fonts
$fontText: "Montserrat", sans-serif;
$fontTitle: "Futura", sans-serif;
$fontLogo: "Righteous";

//checkpoints
$screenMobile: 576px;
$screenLaptopSmall: 768px;

// @media (max-width: $screenMobile) {
  
// }

// @media (max-width: $screenLaptopSmall) {
  
// }

//animations
$transitionDuration: 0.5s;
