.content-container {
  max-width: $containerMaxWidth;
  margin: auto;
  padding: 15px $mainDesktopHorizontalPadding $mainVerticalMargin;
  @media (max-width: $screenMobile) {
    padding: ($mainVerticalMargin / 2) 0;
  }
}
