@import "variables";
@import "fonts";

* {
  box-sizing: border-box;
}

*::selection {
  color: $colorBackground;
  background-color: $colorSaturated;
}

body {
  margin: 0;
  font-family: $fontText;
  background-color: $colorBackground;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

@import "content-container";
@import "typography";
@import "multimedia";
@import "header";
@import "footer";
