@import "variables";

* {
  box-sizing: border-box;
}

*::selection {
  color: $colorBackground;
  background-color: $color256;
}

body {
  margin: 0;
  font-family: $fontText;
  font-size: 14px;
  color: $colorSemiDark;
  background-color: $colorBackground;
}

ul,
ol,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

strong {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

@import "content-container";
@import "typography";
@import "multimedia";
@import "header";
@import "footer";
@import "post-preview";
@import "contact";

@import "fonts";
