.post-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 10px;
  border-bottom: 1px solid $colorSemiLight;

  &__text-box {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    margin-top: 0;
    transition-duration: $transitionDuration;
    &:hover {
      color: #{$color256}99;
    }
  }
  &__read-more {
    align-self: flex-end;
    font-size: 0.7em;
    color: $color256;
    transition-duration: $transitionDuration;
    &:hover {
      color: #{$color256}99;
    }
  }

  &__image {
    display: block;
    width: 20vh;
    height: 20vh;
    object-fit: cover;
    border-radius: 15px;
    &--left {
      margin-right: 20px;
    }
    &--right {
      margin-left: 20px;
    }
    @media (max-width: $containerMaxWidth) {
      display: none;
    }
  }
}
