.heading1 {
  margin: 0;
  font-family: $fontTitle;
  font-size: 40px;
  line-height: 1;
  color: $color256;

  &__subtitle {
    font-size: 25px;
    @media (max-width: $screenMobile) {
      font-size: 20px;
    }
  }

  @media (max-width: $screenMobile) {
    padding: 0 $mainMobileHorizontalPadding;
    font-size: 30px;
  }
}

.heading2 {
  margin: 40px 0 0;
  font-family: $fontTitle;
  font-size: 30px;
  color: $color256;
  @media (max-width: $screenMobile) {
    margin-top: 30px;
    padding: 0 $mainMobileHorizontalPadding;
    font-size: 25px;
  }
}

.regular-text {
  margin: 15px 0 0;
  &:nth-child(2) {
    margin-top: 5px;
  }
  @media (max-width: $screenMobile) {
    padding: 0 $mainMobileHorizontalPadding;
    // font-size: 12px;
  }
}

.text-link {
  display: inline-block;
  font-weight: 700;
  color: #000;
  border-bottom: 2px solid $color256;
  
  &:hover,
  &:focus {
    color: $color256;
    animation: text-link-playing $transitionDuration / 2
      cubic-bezier(0.39,0.93,0.54,1.74);
    outline: none;
  }
}

@keyframes text-link-playing {
  0% {
    transform: none;
    letter-spacing: 0;
  }
  50% {
    transform: scaleX(1.05);
  }
  100% {
    transform: none;
    letter-spacing: 0;
  }
}
